    @import url(https://fonts.googleapis.com/css?family=Roboto:400,600|Raleway:400,600,300);
    @import url(https://fonts.googleapis.com/css?family=Montserrat);
    @import "grid";
    $DBimage-path: "assets/img/" !default;

    //@import "../../node_modules/scooter-css/css/scooter.css";
    @mixin maintain-ratio($ratio: 1 1) {
        @if length($ratio) < 2 or length($ratio) > 2 {
            @warn "$ratio must be a list with two values.";
        }
        $width: 100%;
        $height: percentage(nth($ratio, 2) / nth($ratio, 1));
        width: $width;
        height: 0;
        padding-bottom: $height;
    }

    $blue: #59a6e4;
    $yellow: #f5e20c;
    $dark-yellow: #e7bf5c;
    $grey: rgb(220, 220, 220);
    @font-face {
        font-family: "ThirstyScriptExtraBold";
        src: url("assets/font/ThirstyScriptExtraBoldDemo.otf") format("otf");
    }

    html {
        padding-top: 50px;
        body {
          .thumb-img {
            height: 100px;
            width: 100px;
            margin-right: 10px;
          }
          -webkit-text-size-adjust: 100%;
            .c-banner.margin {
                margin-top: 20px;
            }
            .c-banner.c-banner--unpinned {
                margin: 60px 0 20px;
                h1 {
                    margin: 10px 0;
                }
            }
            .analys {
                .f-alpha {
                    display: block;
                    margin-bottom: 0px;
                    font-weight: bolder;
                }
            }
            background: white;
            .picat-logo {
                margin: 40px auto;
                width: 200px;
                display: block;
            }
            .policy-link {
              position: absolute;
              bottom: 10px;
              color: white;
              text-align: center;
              width: 100%;
            }
            .top-bar {
                z-index: 100;
                padding: 0;
                position: fixed;
                top: 0px;
                width: 100%;
                margin-bottom: 100px;
                background-color: white;
                border-bottom: 1px solid $grey;
                ul {
                    background-color: white;
                    li.is-submenu-item {
                        color: #1583cc;
                        a {
                            color: #1583cc;
                        }
                        &:hover {
                            background-color: #1583cc;
                            a {
                                color: white;
                            }
                        }
                    }
                }
                .top-bar-title {
                    .logo {
                        height: 36px;
                        padding: 15px 0px 0px 10px;
                    }
                }
                a.button {
                    height: 40px;
                    color: #275B88;
                    padding: 14px 20px;
                    background: white;
                    border-bottom: 2px solid white;
                    .c-badge {
                      background: none !important;
                    }
                    &:hover {
                        border-bottom-color: rgba(68, 70, 72, 0.37) !important;
                        text-decoration: none;
                        .c-badge {

                        }
                    }
                    &:focus {
                        box-shadow: 0px 0px 0px;
                        box-shadow: none;
                        outline: none;
                    }
                    &.active {
                            border-bottom-color: #007ee5 !important;
                        .c-badge {
                          background-color: white !important;
                        }
                        &:hover {
                            border-bottom-color: rgba(68, 70, 72, 0.37) !important;
                        }
                        .fi-page-multiple::after {
                        }
                    }
                }
                .is-dropdown-submenu-parent.is-down-arrow > a::after {
                    top: 1rem;
                    border-color: #275B88 transparent transparent;
                }
            }
            .callout {
                text-align: center;
                float: left;
                width: 100%;
                border: none;
            }
            // Add page
            .add {
                #thumb-preview {
                    display: block;
                    margin: 20px auto;
                    max-width: 200px;
                }
                .form {
                    margin-top: 80px;
                }
                text-align: center;
                .input-block {
                    margin: 80px 0;
                    width: 100%;
                    .badge {
                        font-size: 24px;
                        background-color: $blue;
                        margin-bottom: 20px;
                    }
                    fieldset {
                        width: 60%;
                        margin: 10px auto;
                        input,
                        textarea {
                            box-shadow: none;
                            border: 2px solid $grey;
                            text-align: center;
                            font-weight: normal;
                            &:focus {
                                border: 2px solid $dark-yellow;
                            }
                        }
                        textarea {
                            height: 200px;
                        }
                        table thead tr,
                        table tfoot tr,
                        table {
                            background: none !important;
                            border: none !important;
                        }
                        .fdatepicker,
                        .datepicker {
                            td span.active,
                            td.active.day,
                            td.active.year {
                                background: $yellow !important;
                            }
                        }
                    }
                }
            }
            table thead,
            table tbody,
            table tfoot {
                border: none;
                background: none !important;
            }
            // View page
            .view {
                .intro {
                    padding: 40px 0;
                    margin: 10px 0;
                    //border-bottom: 1px solid #C3C3C3;
                    .edit-event {
                        border-radius: 100px;
                        background-color: $blue;
                        float: right;
                    }
                    .main-thumb {
                        float: left;
                        padding: 20px;
                        background: white;
                        //margin-right: 10px;
                    }
                    .activity {
                        margin: 40px 0 20px;
                        padding: 0;
                        .toggleActivity {
                            position: relative;
                            bottom: 0px;
                            margin: 5px auto 0;
                            display: table;
                            .button {
                                border-radius: 100px;
                                background-color: white;
                                border: 1px solid #2199e8 !important;
                                margin: 0 2px;
                            }
                            .active {
                                background-color: $blue;
                                color: white;
                            }
                        }
                        #activity {
                            width: 100%;
                            height: 100px;
                            margin-bottom: 10px;
                            padding: 10px 0 0 0;
                            //border-top: 1px solid gainsboro;
                        }
                    }
                    .customTip {
                        background-color: red;
                    }
                    h1 {
                        padding-top: 30px;
                    }
                    h1,
                    h6 {
                        display: block;
                        margin: 0;
                    }
                    .stats {
                        font-family: 'Roboto', sans-serif;
                        font-size: 18px;
                        float: left;
                        padding-top: 28px;
                        padding-left: 15px;
                        .title {
                            font-weight: 500;
                            text-transform: uppercase;
                        }
                        .info {
                            font-weight: 400;
                            margin-right: 15px;
                        }
                    }
                    .badge.posts {
                        float: left;
                        padding: 6px 14px;
                        font-size: 17px;
                        margin: 0 0px 0px 6px;
                    }
                    .switch {
                        padding-top: 15px;
                        input:checked ~ .switch-paddle {
                            background: $blue !important;
                        }
                    }
                }
                .thumb img {
                    max-height: 150px;
                }
                .edit {
                    padding: 20px !important;
                }
                .recent {
                    width: 100%;
                    .column {
                        padding: 0.3rem;
                        .thumbnail {
                            margin: 0;
                            border: none;
                            &:hover,
                            :focus {
                                box-shadow: none;
                            }
                        }
                        .bar {
                            background-color: $grey;
                            width: 100%;
                            height: 40px;
                            font-size: 13px;
                            color: #333333;
                            text-align: center;
                            padding: 10px;
                            &.selected {
                                background-color: $dark-yellow;
                            }
                        }
                        &.inactive {
                            opacity: 0.5;
                        }
                    }
                    #load {
                        width: 100%;
                        display: flex;
                        .loader {
                            top: 0;
                            border-top: 1em solid rgba(255, 255, 255, 1);
                            border-right: 1em solid rgba(255, 255, 255, 1);
                        }
                    }
                }
                a.button.edit {
                    background-color: #E8E8E8;
                    color: #54595D;
                    font-weight: 800;
                    position: absolute;
                    text-align: center;
                    right: -1px;
                    top: -47px;
                    width: 80px;
                    padding: 15px 0;
                    transition: width 0.8s;
                    border-left: #59a6e4 4px solid;
                    &:hover {
                        width: 140px;
                    }
                }
            }
            .edit {
                legend {
                    text-align: center;
                }
                input[type='text'],
                textarea {
                    vertical-align: middle;
                    text-align: center;
                    box-shadow: none;
                    border: 0;
                    &:focus,
                    :hover {
                        background: #FBFBFB;
                    }
                    &.title {
                        font-size: 32px;
                        height: 52px;
                        margin: 20px 0 15px;
                        font-weight: 200;
                    }
                }
                table thead,
                table tfoot {
                    background: none;
                    border: none;
                }
                .main-img {
                    img {
                        height: 200px;
                    }
                    float: none;
                    margin: 30px auto;
                    width: 200px;
                    height: 200px;
                    //overflow: hidden;
                    .button.alert {
                        display: none;
                        border-radius: 200px;
                        position: absolute;
                        outline: none;
                        box-shadow: none;
                        z-index: 1000;
                        &:hover {
                            display: block;
                        }
                    }
                    &:hover {
                        .button.alert {
                            display: block;
                            z-index: 1000;
                        }
                    }
                    .no-image {
                        height: 200px;
                        width: 200px;
                        border-radius: 100%;
                        padding-top: 85px;
                        margin: 0;
                    }
                }
                .water-img {
                    display: flex;
                    .column {
                        img {
                            max-height: 300px;
                        }
                        .button.alert {
                            display: none;
                            border-radius: 200px;
                            position: absolute;
                            outline: none;
                            box-shadow: none;
                            z-index: 1000;
                            &:hover {
                                display: block;
                            }
                        }
                        &:hover {
                            .button.alert {
                                display: block;
                                z-index: 1000;
                            }
                        }
                    }
                }
                img {}
                .no-image {
                    top: 0;
                    left: 0;
                    margin: 20px 0 5px 0px;
                    cursor: pointer;
                    height: 160px;
                    overflow: hidden;
                    padding: 65px 40px;
                    display: inline-block;
                    vertical-align: middle;
                    text-align: center;
                    position: relative;
                    background-color: #f6f7f8;
                    border: dashed 2px #59A6E4;
                    margin-bottom: 20px;
                    width: 100%;
                    h3 {
                        text-align: center;
                        font-weight: 200;
                        padding: 32px;
                    }
                }
                .button.large.edit {
                    margin: 40px auto;
                    display: block;
                    position: relative;
                    top: 20px;
                    outline: none;
                    box-shadow: none;
                }
            }
            .callout {
                background: none !important;
                h2 {
                    font-family: 'Roboto', sans-serif;
                    margin: 40px;
                    text-align: center;
                    vertical-align: middle;
                }
                .column {
                    padding: 0;
                    &:hover {
                        box-shadow: none;
                        .buttons {
                            opacity: 1;
                        }
                    }
                    img {
                        margin: 0;
                    }
                    .buttons {
                        opacity: 0;
                        transition: opacity 0.3s;
                        position: absolute;
                        top: 15px;
                        button,
                        label {
                            float: left;
                            margin: 0;
                            font-size: 0.575rem;
                        }
                        .date {
                            cursor: default;
                            &:hover {
                                background-color: #777;
                            }
                        }
                        .alert {
                            float: right;
                        }
                    }
                }
                float: left;
            }
            .watermarks {
                .column {
                    img {
                        border: none;
                        background: $grey;
                        transition: background 0.2s;
                        &:hover {
                            box-shadow: 0 0 6px 1px rgba(220, 220, 220, 0.5);
                        }
                    }
                    a.button.delete-watermark {
                        position: absolute;
                        float: left;
                    }
                }
            }
            legend {
                font-weight: 400;
                font-size: 18pt;
            }
        }
        div.browse-wrap {
            top: 0;
            left: 0;
            margin: 20px 0 5px 0px;
            cursor: pointer;
            overflow: hidden;
            padding: 20px 60px;
            display: inline-block;
            text-align: center;
            position: relative;
            border: dashed 2px #59A6E4;
        }
        .clear-upload {
            border-radius: 200px;
            text-align: center;
            background-color: $blue;
            margin: 0 auto;
            display: grid;
            padding: 5px 10px;
            vertical-align: middle;
            outline: none;
            span {
                font-size: 16px;
            }
        }
        div.title {
            color: $blue;
            font-size: 14px;
            font-weight: bold;
            font-family: tahoma, arial, sans-serif;
        }
        input.upload {
            right: 0;
            margin: 0;
            bottom: 0;
            padding: 0;
            opacity: 0;
            height: 300px;
            outline: none;
            cursor: inherit;
            position: absolute;
            font-size: 1000px !important;
        }
        span.upload-path {
            text-align: center;
            margin: 20px;
            display: block;
            font-size: 80%;
            color: #3b5998;
            font-weight: bold;
            font-family: tahoma, arial, sans-serif;
        }
        #map.edit-map {
            width: 100%;
            height: 600px;
            background: rgb(229, 227, 223);
        }
        #map.half-map {
            height: 452px;
            margin-left: 15px;
            background: rgb(229, 227, 223);
        }
        .edit-bar {
            width: 100%;
            max-width: 923px;
            padding: 0 5px;
            background: #F6F6F6;
            float: left;
            padding-top: 3px;
            z-index: 1;
            .edit-button {
                float: right;
                height: 35px;
                position: relative;
                top: 1px;
                left: 13px;
                .label,
                .button {
                    margin: 0 2px;
                    float: right;
                    vertical-align: middle;
                    outline: none;
                    box-shadow: none;
                }
                .button {
                    background-size: contain;
                    background-position: center;
                    background-repeat: no-repeat;
                    &.visible-post {
                        background-image: url(../img/visible.png);
                    }
                    &.invisible-post {
                        background-image: url(../img/invisible.png);
                    }
                    background-color: $grey;
                    &:hover {
                        background-color: dimgrey;
                    }
                }
                span.label.secondary {
                    padding: 9px;
                    margin-right: 0;
                }
            }
            &.fixed {
                position: fixed;
                .edit-button {
                    position: none;
                    top: 0px;
                    left: 0px;
                }
            }
        }
        .index {
            background: url("https://images.unsplash.com/photo-1439539698758-ba2680ecadb9?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=16ae0d59f1cdf1463b47a610c4c9b8d3");
            background-size: cover;
            background-position: center;
            padding-top: 100px;
            position: fixed;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
        }
        .index-content {
            background: #F6F6F6;
            width: 100%;
            height: 100%;
            position: relative;
            top: 1000px;
        }
        .timelimit {
            form {
                margin: 20px 0;
                float: left;
                width: 100%;
                padding: 40px 20px 15px;
                input[type='file'] {
                    border: none !important;
                    padding: 20px;
                    outline: none;
                    box-shadow: none;
                }
            }
        }
        // Sticky edit
        .sticky-edit {
            position: relative;
            width: 75px;
            text-align: center;
            float: right;
            top: 167px;
            left: 62px;
            .label,
            .button {
                vertical-align: middle;
                width: 100%;
                outline: none;
                box-shadow: none;
            }
            .button-group {
                margin: 0;
                //border-bottom: 1px solid #fefefe;
                .button {
                    width: 50%;
                    margin: 0;
                    background-size: contain;
                    background-position: center;
                    &.visible-post {
                        float: left;
                        background-image: url(../img/visible.png);
                    }
                    &.invisible-post {
                        float: right;
                        background-image: url(../img/invisible.png);
                    }
                    background-color: $grey;
                    &:hover {
                        background-color: dimgrey;
                    }
                }
            }
        }
        .quick {
            padding: 10px;
            margin: 0;
            border-radius: 3px;
        }
        // Loader
        .loader {
            margin: 60px auto;
            font-size: 10px;
            position: relative;
            top: 130px;
            text-indent: -9999em;
            border-top: 1em solid rgba(255, 255, 255, 0.2);
            border-right: 1em solid rgba(255, 255, 255, 0.2);
            border-bottom: 1em solid rgba(255, 255, 255, 0.2);
            border-left: 1em solid #ffffff;
            -webkit-transform: translateZ(0);
            -ms-transform: translateZ(0);
            transform: translateZ(0);
            -webkit-animation: load8 1.1s infinite linear;
            animation: load8 1.1s infinite linear;
        }
        .loader,
        .loader:after {
            border-radius: 50%;
            width: 6em;
            height: 6em;
            display: inline-block;
        }
        @-webkit-keyframes load8 {
            0% {
                -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
            }
            100% {
                -webkit-transform: rotate(360deg);
                transform: rotate(360deg);
            }
        }
        @keyframes load8 {
            0% {
                -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
            }
            100% {
                -webkit-transform: rotate(360deg);
                transform: rotate(360deg);
            }
        }
        // Checkbox
        .tgl {
            display: none;
            // add default box-sizing for this scope
            &,
            &:after,
            &:before,
            & *,
            & *:after,
            & *:before,
            & + .tgl-btn {
                box-sizing: border-box;
                &::selection {
                    background: none;
                }
            }
            + .tgl-btn {
                outline: 0;
                display: block;
                width: 40px;
                height: 40px;
                padding-top: 11px;
                position: relative;
                cursor: pointer;
                user-select: none;
                &:after,
                &:before {
                    position: relative;
                    display: block;
                    content: "";
                    width: 50%;
                    height: 100%;
                }
                &:after {
                    left: 0;
                }
                &:before {
                    display: none;
                }
            }
            &:checked {
                + .tgl-btn {
                    &:after {
                        left: 50%;
                    }
                }
            }
        }
        .tgl-skewed {
            + .tgl-btn {
                overflow: hidden;
                //transform: skew(-10deg);
                backface-visibility: hidden;
                transition: all .2s ease;
                font-family: sans-serif;
                background: #888;
                &:after,
                &:before {
                    //transform: skew(10deg);
                    display: inline-block;
                    transition: all .2s ease;
                    width: 100%;
                    text-align: center;
                    position: absolute;
                    line-height: 2em;
                    font-weight: bold;
                    color: #fff;
                    text-shadow: 0 1px 0 rgba(0, 0, 0, .4);
                }
                &:after {
                    left: 100%;
                    content: attr(data-tg-on);
                }
                &:before {
                    left: 0;
                    content: attr(data-tg-off);
                }
                &:active {
                    background: #888;
                    &:before {
                        left: -10%;
                    }
                }
            }
            &:checked {
                + .tgl-btn {
                    background: $blue;
                    &:before {
                        left: -100%;
                    }
                    &:after {
                        left: 0;
                    }
                    &:active {
                        &:after {
                            left: 10%;
                        }
                    }
                }
            }
        }
    }

    table.hover {
        td {
            .button {
                margin-bottom: 0;
                float: right;
            }
            input[type="checkbox"] {
                margin-bottom: 0;
            }
            img.thumb {
                height: 100px;
            }
        }
    }

    .button {
        outline: none;
        box-shadow: none !important;
    }

    input[type='text'],
    textarea,
    input[type='password'],
    input[type='email'] {
        border-radius: 3px !important;
        margin-right: 2px;
        background: rgba(255, 255, 255, 0.97);
    }

    input[type=text]:disabled {
        background: #e6e6e6;
    }

    .rounded {
        border-radius: 10000px;
    }

    input,
    textarea {
        border: 1px solid $grey ;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        font-weight: normal;
        &:focus {
            border: 1px solid $dark-yellow !important;
            -webkit-box-shadow: none;
            -moz-box-shadow: none;
            box-shadow: none !important;
        }
    }

    input[type='submit'] {
        border: none !important;
        &:focus {
            border: none !important;
        }
    }

    // MEDIA QUERY SMALL SCREEN
    @media only screen and (max-width: 40em) {
        img.logo {
            padding: 10px !important;
        }
        span.menu-icon.dark {
            margin-left: 10px;
        }
        .ul {
            width: 100% !important;
            display: table !important;
        }
        .li {
            display: table-cell !important;
        }
    }

    // MAP SLIDER
    .slider {
        width: 100%;
        margin: 20px auto 50px;
        outline: none;
    }

    input[type="range"] {
        -webkit-appearance: none !important;
        width: 100%;
        height: 15px;
        background-color: $grey;
        border: none !important;
        border-radius: 10px;
        margin: auto;
        transition: all 0.3s ease;
        outline: none;
        &:focus {
            border: none !important;
        }
    }

    input[type="range"]:hover {
        background-color: $grey;
    }

    input[type="range"]::-webkit-slider-thumb {
        -webkit-appearance: none !important;
        width: 30px;
        height: 30px;
        background-color: $blue;
        border-radius: 30px;
        //box-shadow: 0px 0px 3px #3c6d59;
        transition: all 0.5s ease;
    }

    input[type="range"]::-webkit-slider-thumb:hover {
        background-color: $blue;
    }

    input[type="range"]::-webkit-slider-thumb:active {
        //box-shadow: 0px 0px 1px #3c6d59;
    }

    #rangevalue {
        text-align: center;
        font-family: "Quantico", sans-serif;
        font-size: 18px;
        display: block;
        margin: auto;
        padding: 10px 0px;
        width: 100%;
        color: $blue;
    }

    table.c-table {
        font-size: 1rem;
        th {
            border: none !important;
        }
        thead {
            border-bottom: 2px solid #d0d4d9 !important;
            &:hover {
                background: none !important;
            }
        }
    }

.policy {
    .logo {

    }
    h2 {
        margin: 10px 0 0px !important;
    }
    ul {
        li {
            list-style-type: decimal;
        }
    }

}
.language_bar_chooser {
  text-align: center;
  a {
    color: black !important;
font-weight: 500;
text-transform: uppercase;
  }
}

#flag {
  h5 {
    margin-bottom: 0px;
  }
}
