@mixin aspect-ratio($width, $height) {
  position: relative;
  &:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: ($height / $width) * 100%;
  }
  > .content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}
.callout {
  .image-event {
    @include aspect-ratio(1, 1);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: #F6F6F6 !important;
    &.inactive {
      opacity: 0.2;
    }
  }
  .overlay {
    background-color: rgba(255, 255, 255, 0) !important;
    display: none;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    color: black !important;
  }
  &:hover {
    .overlay {
      display: block;
      background-color: rgba(255, 255, 255, 0.6) !important;
    }
    .inactive {
      opacity: 1;
    }
  }
}
