/*!
 *
 * SCOOTER
 *
 *   ---
 *   /
 *  /______
 *  0     0
 *
 * scoot
 *   verb [no obj.]
 *   go or leave somewhere quickly: "I'd better scoot"
 *
 */
*, ::after, ::before {
  position: relative;
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

input, button, textarea, select {
  font: inherit;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

input[type=checkbox] {
  -webkit-appearance: checkbox;
  -moz-appearance: checkbox;
  appearance: checkbox; }

input[type=radio] {
  -webkit-appearance: radio;
  -moz-appearance: radio;
  appearance: radio; }

ul, ol {
  margin-left: 46px; }

p, table {
  margin-bottom: 23px; }

table {
  border-collapse: collapse; }

html, :root {
  box-sizing: border-box;
  font: 81.25%/1.75 "Open Sans", "Helvetica Neue", Arial, sans-serif;
  color: #3d464d; }

h1,
.f-alpha {
  display: block;
  margin-bottom: 23px;
  font-size: 28px;
  font-weight: 200;
  line-height: 36px; }

h2,
.f-beta {
  display: block;
  margin-bottom: 23px;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px; }

h3,
.f-gamma {
  display: block;
  margin-bottom: 23px;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px; }

h4,
.f-delta {
  display: block;
  font-size: 13px;
  font-weight: 600;
  line-height: 23px; }

hr {
  margin-bottom: 23px;
  border: 0;
  border-top: 1px solid rgba(37, 40, 43, 0.1); }

a,
.f-a {
  text-decoration: none;
  color: #007ee5;
  cursor: pointer; }
  a:hover,
  .f-a:hover {
    text-decoration: underline; }

.o-wrap {
  display: block;
  max-width: 990px;
  margin: 0 auto; }

.o-grid {
  list-style: none;
  margin-left: -20px; }

.o-grid__col--2-of-2, .o-grid__col--3-of-3, .o-grid__col--4-of-4, .o-grid__col--6-of-6, .o-grid__col--12-of-12 {
  width: 100%; }

.o-grid__col--1-of-3, .o-grid__col--2-of-6, .o-grid__col--4-of-12 {
  width: 33.3333333333%; }

.o-grid__col--2-of-3, .o-grid__col--4-of-6, .o-grid__col--8-of-12 {
  width: 66.6666666667%; }

.o-grid__col--1-of-4, .o-grid__col--3-of-12 {
  width: 25%; }

.o-grid__col--1-of-2, .o-grid__col--2-of-4, .o-grid__col--3-of-6, .o-grid__col--6-of-12 {
  width: 50%; }

.o-grid__col--3-of-4, .o-grid__col--9-of-12 {
  width: 75%; }

.o-grid__col--push-2-of-2, .o-grid__col--push-3-of-3, .o-grid__col--push-4-of-4, .o-grid__col--push-6-of-6, .o-grid__col--push-12-of-12 {
  margin-left: 100%; }

.o-grid__col--push-1-of-2, .o-grid__col--push-2-of-4, .o-grid__col--push-3-of-6, .o-grid__col--push-6-of-12 {
  margin-left: 50%; }

.o-grid__col--push-1-of-3, .o-grid__col--push-2-of-6, .o-grid__col--push-4-of-12 {
  margin-left: 33.3333333333%; }

.o-grid__col--push-2-of-3, .o-grid__col--push-4-of-6, .o-grid__col--push-8-of-12 {
  margin-left: 66.6666666667%; }

.o-grid__col--push-1-of-4, .o-grid__col--push-3-of-12 {
  margin-left: 25%; }

.o-grid__col--push-3-of-4, .o-grid__col--push-9-of-12 {
  margin-left: 75%; }

.o-grid__col--pull-2-of-2, .o-grid__col--pull-3-of-3, .o-grid__col--pull-4-of-4, .o-grid__col--pull-6-of-6, .o-grid__col--pull-12-of-12 {
  margin-left: -100%; }

.o-grid__col--pull-1-of-2, .o-grid__col--pull-2-of-4, .o-grid__col--pull-3-of-6, .o-grid__col--pull-6-of-12 {
  margin-left: -50%; }

.o-grid__col--pull-1-of-3, .o-grid__col--pull-2-of-6, .o-grid__col--pull-4-of-12 {
  margin-left: -33.3333333333%; }

.o-grid__col--pull-2-of-3, .o-grid__col--pull-4-of-6, .o-grid__col--pull-8-of-12 {
  margin-left: -66.6666666667%; }

.o-grid__col--pull-1-of-4, .o-grid__col--pull-3-of-12 {
  margin-left: -25%; }

.o-grid__col--pull-3-of-4, .o-grid__col--pull-9-of-12 {
  margin-left: -75%; }

.o-grid__col--1-of-6 {
  width: 16.6666666667%; }

.o-grid__col--push-1-of-6 {
  margin-left: 16.6666666667%; }

.o-grid__col--pull-1-of-6 {
  margin-left: -16.6666666667%; }

.o-grid__col--5-of-6 {
  width: 83.3333333333%; }

.o-grid__col--push-5-of-6 {
  margin-left: 83.3333333333%; }

.o-grid__col--pull-5-of-6 {
  margin-left: -83.3333333333%; }

.o-grid__col--1-of-12 {
  width: 8.3333333333%; }

.o-grid__col--push-1-of-12 {
  margin-left: 8.3333333333%; }

.o-grid__col--pull-1-of-12 {
  margin-left: -8.3333333333%; }

.o-grid__col--2-of-12 {
  width: 16.6666666667%; }

.o-grid__col--push-2-of-12 {
  margin-left: 16.6666666667%; }

.o-grid__col--pull-2-of-12 {
  margin-left: -16.6666666667%; }

.o-grid__col--5-of-12 {
  width: 41.6666666667%; }

.o-grid__col--push-5-of-12 {
  margin-left: 41.6666666667%; }

.o-grid__col--pull-5-of-12 {
  margin-left: -41.6666666667%; }

.o-grid__col--7-of-12 {
  width: 58.3333333333%; }

.o-grid__col--push-7-of-12 {
  margin-left: 58.3333333333%; }

.o-grid__col--pull-7-of-12 {
  margin-left: -58.3333333333%; }

.o-grid__col--10-of-12 {
  width: 83.3333333333%; }

.o-grid__col--push-10-of-12 {
  margin-left: 83.3333333333%; }

.o-grid__col--pull-10-of-12 {
  margin-left: -83.3333333333%; }

.o-grid__col--11-of-12 {
  width: 91.6666666667%; }

.o-grid__col--push-11-of-12 {
  margin-left: 91.6666666667%; }

.o-grid__col--pull-11-of-12 {
  margin-left: -91.6666666667%; }

.o-grid__col {
  box-sizing: border-box;
  display: inline-block;
  margin-right: -0.24em;
  min-height: 1px;
  padding-left: 20px;
  vertical-align: top; }
  .o-grid--nowhitespace .o-grid__col,
  [data-reactid] .o-grid__col {
    margin-right: 0; }

.o-grid__col--centered {
  display: block;
  margin-left: auto;
  margin-right: auto; }

.o-grid__col--d-first {
  float: left; }

.o-grid__col--d-last {
  float: right; }

.o-grid--no-gutter {
  margin-left: 0;
  width: 100%; }
  .o-grid--no-gutter .o-grid__col {
    padding-left: 0; }
  .o-grid--no-gutter .o-grid__col--span-all {
    margin-left: 0;
    width: 100%; }

.o-grid__col--ab,
.o-grid__col--align-bottom {
  vertical-align: bottom; }

.o-grid__col--am,
.o-grid__col--align-middle {
  vertical-align: middle; }

.o-media {
  display: block; }

.o-media__img {
  margin-right: 12px;
  float: left; }
  .o-media__img > img {
    display: block; }

.o-media__body {
  display: block;
  overflow: hidden; }
  .o-media__body,
  .o-media__body > :last-child {
    margin-bottom: 0; }

.o-list-ui {
  margin: 0;
  padding: 0;
  list-style: none; }
  .o-list-ui--dividers li + li {
    border-top: 1px solid;
    border-color: rgba(37, 40, 43, 0.1); }

.o-flag {
  display: table;
  width: 100%; }
  .o-flag__fix, .o-flag__flex {
    display: table-cell;
    vertical-align: middle; }
    .o-flag--top .o-flag__fix, .o-flag--top .o-flag__flex {
      vertical-align: top; }
    .o-flag--bottom .o-flag__fix, .o-flag--bottom .o-flag__flex {
      vertical-align: bottom; }
  .o-flag__fix {
    white-space: nowrap; }
  .o-flag__flex {
    width: 100%; }

@supports ((display: -webkit-flex) or (display: -ms-flexbox) or (display: flex)) {
  .o-flag {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center; }
    .o-flag--top {
      -webkit-align-items: flex-start;
      -ms-flex-align: start;
      align-items: flex-start; }
    .o-flag--bottom {
      -webkit-align-items: flex-end;
      -ms-flex-align: end;
      align-items: flex-end; }
  .o-flag__flex,
  .o-flag__fix {
    display: initial; }
  .o-flag__flex {
    min-width: 0;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto; } }

.c-arrow, .c-arrow--down {
  display: inline-block;
  width: 0;
  height: 0;
  border: 5px solid transparent;
  border-top-color: currentColor; }

.c-arrow--left {
  display: inline-block;
  width: 0;
  height: 0;
  border: 5px solid transparent;
  border-right-color: currentColor; }

.c-arrow--right {
  display: inline-block;
  width: 0;
  height: 0;
  border: 5px solid transparent;
  border-left-color: currentColor; }

.c-arrow--up {
  display: inline-block;
  width: 0;
  height: 0;
  border: 5px solid transparent;
  border-bottom-color: currentColor; }

/**
 * Avatar component. A wrapper element with an (optional) image or the user's
 * initials.
 */
.c-avatar {
  width: 32px;
  min-width: 32px;
  height: 32px;
  font-size: 13px;
  font-weight: 600;
  display: inline-block;
  vertical-align: middle;
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
  text-align: center;
  line-height: 2.5;
  border-radius: 1000px; }
  .c-avatar__img,
  .c-avatar > img {
    display: block;
    min-width: 100%;
    height: 100%;
    object-fit: cover; }
  .c-avatar:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 1000px;
    box-shadow: inset 0 0 0 1px rgba(37, 40, 43, 0.1);
    pointer-events: none; }
  .c-avatar.c-avatar--no-img {
    color: white;
    background-color: #007ee5; }
    .c-avatar.c-avatar--no-img:after {
      content: attr(data-initials);
      box-shadow: none; }
    .c-avatar.c-avatar--no-img.c-avatar--xs:after {
      content: ""; }
  .c-avatar.c-avatar--square {
    text-transform: uppercase;
    border-radius: 3px; }
    .c-avatar.c-avatar--square:after {
      content: none; }
  .c-avatar.c-avatar--meta {
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
    padding: 0 2px;
    color: #7b8994;
    background-color: rgba(208, 212, 217, 0.7); }
    .c-avatar.c-avatar--meta > img {
      display: inline-block;
      vertical-align: middle;
      width: auto;
      height: auto;
      object-fit: none;
      margin: 0 auto; }
    .c-avatar.c-avatar--meta:after {
      content: none; }
  .c-avatar--xs {
    width: 16px;
    min-width: 16px;
    height: 16px;
    font-size: 6px;
    font-weight: 700; }
    .c-avatar--xs:after {
      content: ""; }
  .c-avatar--s {
    width: 24px;
    min-width: 24px;
    height: 24px;
    font-size: 10px;
    font-weight: 700; }
  .c-avatar--m {
    width: 32px;
    min-width: 32px;
    height: 32px;
    font-size: 13px;
    font-weight: 600; }
  .c-avatar--l {
    width: 48px;
    min-width: 48px;
    height: 48px;
    font-size: 19px;
    font-weight: 400; }
  .c-avatar--xl {
    width: 64px;
    min-width: 64px;
    height: 64px;
    font-size: 26px;
    font-weight: 400; }

.c-facepile {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }
  .c-facepile > * {
    margin-right: 6px; }
  .c-facepile.is-animated .c-avatar {
    -webkit-animation: DBavatar-animation .3s;
    animation: DBavatar-animation .3s;
    -webkit-animation-timing-function: cubic-bezier(0.57, 0.23, 0.39, 1.6);
    animation-timing-function: cubic-bezier(0.57, 0.23, 0.39, 1.6);
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both; }
    .c-facepile.is-animated .c-avatar:nth-child(1) {
      -webkit-animation-delay: 0.025s;
      animation-delay: 0.025s; }
    .c-facepile.is-animated .c-avatar:nth-child(2) {
      -webkit-animation-delay: 0.05s;
      animation-delay: 0.05s; }
    .c-facepile.is-animated .c-avatar:nth-child(3) {
      -webkit-animation-delay: 0.075s;
      animation-delay: 0.075s; }
    .c-facepile.is-animated .c-avatar:nth-child(4) {
      -webkit-animation-delay: 0.1s;
      animation-delay: 0.1s; }
    .c-facepile.is-animated .c-avatar:nth-child(5) {
      -webkit-animation-delay: 0.125s;
      animation-delay: 0.125s; }
    .c-facepile.is-animated .c-avatar:nth-child(6) {
      -webkit-animation-delay: 0.15s;
      animation-delay: 0.15s; }
    .c-facepile.is-animated .c-avatar:nth-child(7) {
      -webkit-animation-delay: 0.175s;
      animation-delay: 0.175s; }
    .c-facepile.is-animated .c-avatar:nth-child(8) {
      -webkit-animation-delay: 0.2s;
      animation-delay: 0.2s; }
    .c-facepile.is-animated .c-avatar:nth-child(9) {
      -webkit-animation-delay: 0.225s;
      animation-delay: 0.225s; }
    .c-facepile.is-animated .c-avatar:nth-child(10) {
      -webkit-animation-delay: 0.25s;
      animation-delay: 0.25s; }
    .c-facepile.is-animated .c-avatar:nth-child(11) {
      -webkit-animation-delay: 0.275s;
      animation-delay: 0.275s; }
    .c-facepile.is-animated .c-avatar:nth-child(12) {
      -webkit-animation-delay: 0.3s;
      animation-delay: 0.3s; }
    .c-facepile.is-animated .c-avatar:nth-child(13) {
      -webkit-animation-delay: 0.325s;
      animation-delay: 0.325s; }
    .c-facepile.is-animated .c-avatar:nth-child(14) {
      -webkit-animation-delay: 0.35s;
      animation-delay: 0.35s; }
    .c-facepile.is-animated .c-avatar:nth-child(15) {
      -webkit-animation-delay: 0.375s;
      animation-delay: 0.375s; }

@-webkit-keyframes DBavatar-animation {
  from {
    opacity: 0;
    -webkit-transform: translateX(10px);
    transform: translateX(10px); }
  to {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0); } }

@keyframes DBavatar-animation {
  from {
    opacity: 0;
    -webkit-transform: translateX(10px);
    transform: translateX(10px); }
  to {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0); } }

/**
 * Badge component
 */
.c-badge {
  box-sizing: border-box;
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  padding: 1px 4px;
  font-size: 9px;
  font-weight: 700;
  line-height: 1.4;
  text-align: center;
  text-shadow: none;
  color: #ed7a6f;
  background: white;
  border: 1px solid #fcbdbd;
  border-radius: 3px; }
  .c-badge.c-badge--top-right {
    position: absolute;
    z-index: 1;
    top: -1em;
    left: -1em;
    margin-left: 100%; }

/**
 * Banner component. Used to display messages to the user, typically pinned to
 * the top of the page.
 */
.c-banner {
  padding: 12px;
  color: #47525d;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-color: rgba(37, 40, 43, 0.1);
  background-color: #f7f9fa; }
  .c-banner.c-banner--success {
    color: #2c683f;
    background-color: #edfaf1; }
  .c-banner.c-banner--warning {
    color: #996e00;
    background-color: #fffdec; }
  .c-banner.c-banner--error {
    color: #921515;
    background-color: #ffe3e3; }
  .c-banner.c-banner--unpinned {
    border-width: 1px;
    border-style: solid;
    border-radius: 3px; }

/**
 * Button component
 */
.c-btn {
  display: inline-block;
  padding: 7px 12px;
  font-weight: 600;
  line-height: 1.4;
  text-align: center;
  text-decoration: none;
  border: 1px solid currentColor;
  border-radius: 3px;
  cursor: pointer; }
  .c-btn:not(button):not([type=submit]) {
    /*! You must ensure the element matches one of these selectors: button, "[type=submit]" */
    outline: 2px solid red !important; }
  .c-btn[disabled], .c-btn.c-btn--disabled {
    opacity: 0.5;
    cursor: default; }
  .c-btn:focus {
    box-shadow: 0 0 0 2px rgba(0, 126, 229, 0.3);
    outline: none; }
  .c-btn:hover {
    text-decoration: none; }
  .c-btn.c-btn--big {
    padding: 10px 26px; }
  .c-btn.c-btn--full {
    display: block;
    width: 100%; }
  .c-btn.c-btn--primary {
    color: white;
    border-color: #0071ce;
    background-color: #007ee5;
    background: linear-gradient(#007ee5, #0071ce); }
    .c-btn.c-btn--primary:hover:not(:disabled) {
      background: #007ee5; }
    .c-btn.c-btn--primary:active:not(:disabled) {
      background: #0071ce; }
  .c-btn.c-btn--secondary {
    color: #47525d;
    border-color: #d0d4d9;
    background: white; }
    .c-btn.c-btn--secondary:hover:not(:disabled) {
      background: linear-gradient(white, #f7f9fa); }
    .c-btn.c-btn--secondary:active:not(:disabled) {
      background: #f7f9fa; }
  .c-btn.c-btn--tertiary {
    color: #007ee5;
    border-color: #007ee5;
    background-color: white;
    background: linear-gradient(white, #f4faff); }
    .c-btn.c-btn--tertiary:hover:not(:disabled) {
      background: #f4faff; }
    .c-btn.c-btn--tertiary:active:not(:disabled) {
      background: linear-gradient(#f4faff, #e3f1fc); }

.c-btn-group {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  .c-btn-group .c-btn {
    margin: 0;
    border-radius: 0; }
    .c-btn-group .c-btn + .c-btn {
      border-left: 0; }
    .c-btn-group .c-btn:first-child {
      border-top-left-radius: 3px;
      border-bottom-left-radius: 3px; }
    .c-btn-group .c-btn:last-child {
      border-top-right-radius: 3px;
      border-bottom-right-radius: 3px; }

.c-datepicker {
  position: relative;
  box-sizing: border-box;
  background-color: white; }
  .c-datepicker .c-calendar {
    position: absolute;
    top: 100%;
    left: 0; }

.c-calendar {
  display: inline-block;
  z-index: 1;
  border-radius: 5px;
  background-color: #f7f9fa; }
  .c-calendar .c-calendar__header {
    padding-bottom: 4px;
    font-size: 0.6em;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #7b8994; }
  .c-calendar .c-calendar__date {
    box-sizing: border-box;
    padding: 4px 8px;
    width: 100%;
    min-width: 32px;
    text-align: center;
    color: #007ee5;
    border: 1px solid #f7f9fa;
    background-color: white;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none; }
    tr:first-child td:first-child .c-calendar .c-calendar__date {
      border-top-left-radius: 4px; }
    tr:first-child td:last-child .c-calendar .c-calendar__date {
      border-top-right-radius: 4px; }
    tr:last-child td:first-child .c-calendar .c-calendar__date {
      border-bottom-left-radius: 4px; }
    tr:last-child td:last-child .c-calendar .c-calendar__date {
      border-bottom-right-radius: 4px; }
    .c-calendar .c-calendar__date:hover {
      background-color: #f4faff; }
    .c-calendar .c-calendar__date:hover, .c-calendar .c-calendar__date:focus:not([class*="--disabled"]) {
      text-decoration: underline; }
    .c-calendar .c-calendar__date.is-selected {
      color: white;
      background-color: #007ee5; }
    .c-calendar .c-calendar__date.is-in-range {
      color: white;
      background-color: #72b6ec; }
    .c-calendar .c-calendar__date--disabled, .c-calendar .c-calendar__date--disabled:hover {
      color: #d0d4d9;
      background-color: #f7f9fa;
      cursor: default; }

/**
 * Card component with optional arrow/tail
 */
.c-card {
  display: inline-block;
  vertical-align: top;
  position: relative;
  padding: 12px;
  box-sizing: border-box;
  border: 1px solid rgba(37, 40, 43, 0.1);
  border-radius: 3px;
  box-shadow: 0 1px 2px rgba(37, 40, 43, 0.1);
  background-color: white;
  background-clip: padding-box;
  transition: 0.1s; }
  .c-card.c-card--arrow::before, .c-card.c-card--arrow::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -8px;
    border: 8px solid transparent;
    border-bottom-color: white;
    transition: 0.1s; }
  .c-card.c-card--arrow::before {
    margin-left: -9px;
    border-width: 9px;
    border-bottom-color: rgba(37, 40, 43, 0.2); }
  .c-card.c-card--arrow-nw::after, .c-card.c-card--arrow-nw::before, .c-card.c-card--arrow-sw::after, .c-card.c-card--arrow-sw::before {
    left: 0;
    margin-left: 12px; }
  .c-card.c-card--arrow-nw::before, .c-card.c-card--arrow-sw::before {
    margin-left: 11px; }
  .c-card.c-card--arrow-ne::after, .c-card.c-card--arrow-ne::before, .c-card.c-card--arrow-se::after, .c-card.c-card--arrow-se::before {
    right: 0;
    left: auto;
    margin-right: 12px; }
  .c-card.c-card--arrow-ne::before, .c-card.c-card--arrow-se::before {
    margin-right: 11px; }
  .c-card.c-card--arrow-sw::after, .c-card.c-card--arrow-sw::before, .c-card.c-card--arrow-se::after, .c-card.c-card--arrow-se::before, .c-card.c-card--arrow-s::after, .c-card.c-card--arrow-s::before {
    top: 100%;
    bottom: auto;
    border-top-color: white;
    border-bottom-color: transparent; }
  .c-card.c-card--arrow-sw::before, .c-card.c-card--arrow-se::before, .c-card.c-card--arrow-s::before {
    border-top-color: rgba(37, 40, 43, 0.2);
    -webkit-filter: drop-shadow(0 1px 2px rgba(37, 40, 43, 0.2));
    filter: drop-shadow(0 1px 2px rgba(37, 40, 43, 0.2)); }

.c-card--floating:hover {
  border-color: rgba(37, 40, 43, 0.2);
  box-shadow: 0 1px 2px rgba(37, 40, 43, 0.2); }

.c-card--floating.c-card--arrow:hover::before {
  border-bottom-color: rgba(37, 40, 43, 0.3); }

.c-card--floating.c-card--arrow-se:hover::before, .c-card--floating.c-card--arrow-sw:hover::before, .c-card--floating.c-card--arrow-s:hover::before {
  border-top-color: rgba(37, 40, 43, 0.3);
  border-bottom-color: transparent;
  -webkit-filter: drop-shadow(0 1px 2px rgba(37, 40, 43, 0.3));
  filter: drop-shadow(0 1px 2px rgba(37, 40, 43, 0.3)); }

.c-card--floating.is-selected {
  border-color: #007ee5; }

.c-card--floating--arrow.is-selected::before, .c-card--floating--arrow.is-selected:hover::before {
  border-bottom-color: #007ee5; }

.c-card--floating--arrow-se.is-selected::before, .c-card--floating--arrow-se.is-selected:hover::before, .c-card--floating--arrow-sw.is-selected::before, .c-card--floating--arrow-sw.is-selected:hover::before, .c-card--floating--arrow-s.is-selected::before, .c-card--floating--arrow-s.is-selected:hover::before {
  border-top-color: #007ee5;
  border-bottom-color: transparent; }

/**
 * Input & label components
 */
.c-label {
  display: block;
  margin-bottom: 23px;
  font-size: 12px;
  color: #7b8994; }
  .c-label:not(label) {
    /*! You must ensure the element matches one of these selectors: label */
    outline: 2px solid red !important; }

.c-input {
  display: block;
  width: 100%;
  padding: 7px;
  font-size: 13px;
  text-align: left;
  color: #47525d;
  border: 1px solid rgba(37, 40, 43, 0.1);
  border-radius: 3px;
  background-color: white;
  background-clip: padding-box; }
  .c-input:not(input):not(button):not(select):not(textarea) {
    /*! You must ensure the element matches one of these selectors: input, button, select, textarea */
    outline: 2px solid red !important; }
  .c-input:focus {
    border-color: #72b6ec;
    outline: 0; }
  .c-input:disabled, .c-input.is-disabled {
    background-color: #f7f9fa; }
  .c-input.is-invalid,
  .c-form--validated .c-input:invalid {
    background-image: url("assets/img/icon-form-invalid.svg");
    background-size: 14px;
    background-position: right 10px center;
    background-repeat: no-repeat;
    padding-right: 34px;
    border-color: rgba(232, 33, 16, 0.5);
    box-shadow: none;
    outline: 0; }
  .c-input.is-valid,
  .c-form--validated .c-input:valid {
    background-image: url("assets/img/icon-form-valid.svg");
    background-size: 14px;
    background-position: right 10px center;
    background-repeat: no-repeat;
    padding-right: 34px; }

textarea.c-input {
  resize: vertical; }

select.c-input {
  background-image: url("assets/img/icon-form-dropdown.svg");
  background-size: 7px 14px;
  background-position: right 10px center;
  background-repeat: no-repeat;
  padding-right: 27px; }

/**
 * Loading indicator component
 */
.c-loader {
  display: inline-block;
  position: relative;
  width: 6px;
  height: 6px;
  margin: 12px 0;
  font-size: 0;
  color: transparent;
  border-radius: 100%;
  background-color: rgba(61, 70, 77, 0.3); }
  .c-loader, .c-loader:after, .c-loader:before {
    -webkit-animation: loaderFade 0.9s ease-in-out infinite;
    animation: loaderFade 0.9s ease-in-out infinite; }
  .c-loader:after, .c-loader:before {
    content: "";
    vertical-align: middle;
    position: absolute;
    left: 100%;
    width: 6px;
    height: 6px;
    margin-left: 4px;
    border-radius: 100%;
    background-color: rgba(61, 70, 77, 0.3);
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s; }
  .c-loader:after {
    left: 200%;
    margin-left: 8px;
    -webkit-animation-delay: 0.6s;
    animation-delay: 0.6s; }

@-webkit-keyframes loaderFade {
  50% {
    background-color: #3d464d; }
  0%, 100% {
    background-color: rgba(61, 70, 77, 0.3); } }

@keyframes loaderFade {
  50% {
    background-color: #3d464d; }
  0%, 100% {
    background-color: rgba(61, 70, 77, 0.3); } }

/**
 * Modal component
 */
.c-modal-overlay {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 32px;
  background-color: rgba(61, 70, 77, 0.6); }

.c-modal {
  overflow: scroll;
  -webkit-flex: 1 1 640px;
  -ms-flex: 1 1 640px;
  flex: 1 1 640px;
  max-width: 640px;
  border-radius: 3px;
  box-shadow: 0 1px 2px rgba(37, 40, 43, 0.1);
  background-color: white; }

.c-modal__title,
.c-modal__header {
  z-index: 3;
  padding: 16px 32px;
  box-shadow: 0 1px 1px rgba(37, 40, 43, 0.1);
  background-color: white; }
  .c-modal--unibody .c-modal__title, .c-modal--unibody
  .c-modal__header {
    padding-bottom: 0;
    box-shadow: none; }
  .c-modal__title h2,
  .c-modal__header h2 {
    margin-bottom: 0; }

.c-modal__content {
  z-index: 2;
  padding: 32px;
  background-color: #f7f9fa; }
  .c-modal--unibody .c-modal__content {
    background-color: white; }

.c-modal__banner {
  box-shadow: inset 0 1px 0 rgba(37, 40, 43, 0.1); }

.c-tab-nav {
  margin-left: 0;
  padding-left: 0;
  list-style: none;
  border-bottom: 1px solid rgba(61, 70, 77, 0.1); }

.c-tab-nav__tab {
  display: inline-block;
  margin-bottom: -1px;
  color: #7b8994;
  border-bottom: 1px solid transparent;
  transition: 0.2s; }
  .c-tab-nav__tab:hover {
    color: #3d464d;
    border-bottom-color: rgba(61, 70, 77, 0.3); }
  .c-tab-nav__tab + .c-tab-nav__tab {
    margin-left: 16px; }
  .c-tab-nav__tab a {
    display: inline-block;
    padding-bottom: 8px;
    color: inherit; }
    .c-tab-nav__tab a:hover {
      text-decoration: none; }
  .c-tab-nav__tab.c-tab-nav__tab--is-active {
    font-weight: 600;
    color: #3d464d;
    border-bottom-color: currentColor; }

.c-table {
  display: table;
  width: 100%;
  text-align: left; }
  .c-table__th, .c-table th, .c-table__td, .c-table td {
    padding-top: 11.5px;
    padding-bottom: 11.5px;
    padding-left: 5.75px;
    padding-right: 5.75px; }
  .c-table__th, .c-table th {
    font-weight: 400;
    color: #737373;
    border-bottom: 2px solid #d0d4d9; }
  .c-table__row, .c-table tr {
    border-bottom: 1px solid #d0d4d9; }
  .c-table__row--success, .c-table tr--success, .c-table__td--success, .c-table td--success {
    background-color: #ddf0e2; }
  .c-table__row--warning, .c-table tr--warning, .c-table__td--warning, .c-table td--warning {
    background-color: #fff5cc; }
  .c-table__row--error, .c-table tr--error, .c-table__td--error, .c-table td--error {
    background-color: #fcbdbd; }
  .c-table--zebra .c-table__row:nth-child(odd),
  .c-table--zebra tbody tr:nth-child(odd) {
    background-color: #f7f9fa; }
  .c-table--selectable .c-table__row:hover, .c-table--selectable .c-table__row:focus, .c-table--selectable .c-table__row.has-focus,
  .c-table--selectable tbody tr:hover,
  .c-table--selectable tbody tr:focus,
  .c-table--selectable tbody tr.has-focus {
    background-color: #f4faff; }
  .c-table--selectable .c-table__row.is-selected,
  .c-table--selectable tbody tr.is-selected {
    background-color: #cce6fa; }

/**
 * Title-bubble component
 */
.c-title-bubble {
  display: inline-block;
  position: relative; }
  .c-title-bubble:before, .c-title-bubble:after {
    z-index: 500; }
  .c-title-bubble:after {
    content: attr(data-title);
    display: none;
    position: absolute;
    top: 100%;
    left: 50%;
    white-space: nowrap;
    margin-top: 5px;
    padding: 7px 9px;
    font-size: 11px;
    font-weight: 500;
    line-height: 1.4;
    color: white;
    border-radius: 3px;
    background-color: #3d464d;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%; }
  .c-title-bubble:before {
    content: "";
    display: none;
    position: absolute;
    top: 100%;
    left: 50%;
    margin-top: -5px;
    margin-left: -5px;
    border: 5px solid transparent;
    border-bottom-color: #3d464d; }
  .c-title-bubble--n:after {
    top: auto;
    bottom: 100%;
    margin-bottom: 5px; }
  .c-title-bubble--n:before {
    top: auto;
    bottom: 100%;
    margin-bottom: -5px;
    border-top-color: #3d464d;
    border-bottom-color: transparent; }
  .c-title-bubble--e:after {
    top: 50%;
    left: 100%;
    margin-top: 0;
    margin-left: 5px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%); }
  .c-title-bubble--e:before {
    top: 50%;
    left: 100%;
    margin-top: -5px;
    border-right-color: #3d464d;
    border-bottom-color: transparent; }
  .c-title-bubble--w:after {
    top: 50%;
    right: 100%;
    left: auto;
    margin-top: 0;
    margin-right: 5px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%); }
  .c-title-bubble--w:before {
    top: 50%;
    right: 100%;
    left: auto;
    margin-top: -5px;
    margin-right: -5px;
    border-bottom-color: transparent;
    border-left-color: #3d464d; }
  .c-title-bubble:hover:before, .c-title-bubble:hover:after, .c-title-bubble:focus:before, .c-title-bubble:focus:after, .c-title-bubble.is-child-focused:before, .c-title-bubble.is-child-focused:after {
    display: block; }

/*!
 * Token components
 */
.c-token {
  display: inline-block;
  white-space: nowrap;
  padding: 4px;
  line-height: 1;
  color: #47525d;
  border-radius: 3px;
  box-shadow: inset 0 0 0 1px rgba(37, 40, 43, 0.1);
  background-color: #f7f9fa;
  cursor: default; }
  .c-token:hover {
    box-shadow: inset 0 0 0 1px rgba(37, 40, 43, 0.3); }
  .c-token > * {
    vertical-align: middle;
    margin-left: 0.25em; }
    .c-token > *:first-child {
      margin-left: 0; }

.c-token--warning {
  color: #996e00;
  background-color: #fffdec; }

.c-token--invalid {
  color: #921515;
  background-color: #ffe3e3; }

.c-token--pending {
  opacity: 0.5; }

.c-token.is-selected, .c-token.is-selected:hover {
  color: white;
  background-color: #7b8994; }
  .c-token.is-selected.c-token--warning, .c-token.is-selected:hover.c-token--warning {
    background-color: #c99700; }
  .c-token.is-selected.c-token--invalid, .c-token.is-selected:hover.c-token--invalid {
    background-color: #c21c1c; }

.c-token__name {
  top: 1px;
  margin-left: 0.25em; }

.c-token__delete {
  margin-right: 0.15em;
  margin-left: 0.25em;
  font-size: 1.25em;
  color: currentColor;
  opacity: 0.7;
  cursor: pointer; }

.c-input--typeahead.is-active {
  border-bottom: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0; }

/*!
 * Typeahead component
 */
.c-typeahead {
  display: none;
  overflow: scroll;
  position: absolute;
  top: 100%;
  right: 0;
  left: 0;
  max-height: 180px;
  margin-top: -1px;
  line-height: 1.5;
  border: 1px solid rgba(37, 40, 43, 0.1);
  border-radius: 0 0 4px 4px;
  box-shadow: 0 1px 2px rgba(37, 40, 43, 0.1);
  background-color: white;
  background-clip: padding-box; }
  .c-typeahead.is-open {
    display: block; }
  .c-typeahead__result {
    margin-top: -1px;
    cursor: pointer; }
    .c-typeahead__result.is-selected {
      z-index: 2;
      margin-bottom: -2px;
      color: #007ee5;
      border-bottom: 1px solid;
      border-color: rgba(37, 40, 43, 0.1);
      background-color: #f4faff; }
      .c-typeahead__result.is-selected .f-meta {
        color: inherit; }
    .c-typeahead__result.is-invalid {
      cursor: default; }
  .c-typeahead__media, .c-typeahead__content {
    display: inline-block;
    vertical-align: middle; }
  .c-typeahead__media {
    margin-right: 12px; }

.clearfix:after,
.o-media:after {
  content: "";
  display: table;
  clear: both; }

.u-pad-xs {
  padding: 8px; }

.u-mar-xs {
  margin: 8px; }

.u-pad-top-xs {
  padding-top: 8px; }

.u-mar-top-xs {
  margin-top: 8px; }

.u-pad-right-xs {
  padding-right: 8px; }

.u-mar-right-xs {
  margin-right: 8px; }

.u-pad-bottom-xs {
  padding-bottom: 8px; }

.u-mar-bottom-xs {
  margin-bottom: 8px; }

.u-pad-left-xs {
  padding-left: 8px; }

.u-mar-left-xs {
  margin-left: 8px; }

.u-pad-vertical-xs {
  padding-top: 8px;
  padding-bottom: 8px; }

.u-mar-vertical-xs {
  margin-top: 8px;
  margin-bottom: 8px; }

.u-pad-horizontal-xs {
  padding-left: 8px;
  padding-right: 8px; }

.u-mar-horizontal-xs {
  margin-left: 8px;
  margin-right: 8px; }

.u-pad-s {
  padding: 16px; }

.u-mar-s {
  margin: 16px; }

.u-pad-top-s {
  padding-top: 16px; }

.u-mar-top-s {
  margin-top: 16px; }

.u-pad-right-s {
  padding-right: 16px; }

.u-mar-right-s {
  margin-right: 16px; }

.u-pad-bottom-s {
  padding-bottom: 16px; }

.u-mar-bottom-s {
  margin-bottom: 16px; }

.u-pad-left-s {
  padding-left: 16px; }

.u-mar-left-s {
  margin-left: 16px; }

.u-pad-vertical-s {
  padding-top: 16px;
  padding-bottom: 16px; }

.u-mar-vertical-s {
  margin-top: 16px;
  margin-bottom: 16px; }

.u-pad-horizontal-s {
  padding-left: 16px;
  padding-right: 16px; }

.u-mar-horizontal-s {
  margin-left: 16px;
  margin-right: 16px; }

.u-pad-m {
  padding: 24px; }

.u-mar-m {
  margin: 24px; }

.u-pad-top-m {
  padding-top: 24px; }

.u-mar-top-m {
  margin-top: 24px; }

.u-pad-right-m {
  padding-right: 24px; }

.u-mar-right-m {
  margin-right: 24px; }

.u-pad-bottom-m {
  padding-bottom: 24px; }

.u-mar-bottom-m {
  margin-bottom: 24px; }

.u-pad-left-m {
  padding-left: 24px; }

.u-mar-left-m {
  margin-left: 24px; }

.u-pad-vertical-m {
  padding-top: 24px;
  padding-bottom: 24px; }

.u-mar-vertical-m {
  margin-top: 24px;
  margin-bottom: 24px; }

.u-pad-horizontal-m {
  padding-left: 24px;
  padding-right: 24px; }

.u-mar-horizontal-m {
  margin-left: 24px;
  margin-right: 24px; }

.u-pad-l {
  padding: 32px; }

.u-mar-l {
  margin: 32px; }

.u-pad-top-l {
  padding-top: 32px; }

.u-mar-top-l {
  margin-top: 32px; }

.u-pad-right-l {
  padding-right: 32px; }

.u-mar-right-l {
  margin-right: 32px; }

.u-pad-bottom-l {
  padding-bottom: 32px; }

.u-mar-bottom-l {
  margin-bottom: 32px; }

.u-pad-left-l {
  padding-left: 32px; }

.u-mar-left-l {
  margin-left: 32px; }

.u-pad-vertical-l {
  padding-top: 32px;
  padding-bottom: 32px; }

.u-mar-vertical-l {
  margin-top: 32px;
  margin-bottom: 32px; }

.u-pad-horizontal-l {
  padding-left: 32px;
  padding-right: 32px; }

.u-mar-horizontal-l {
  margin-left: 32px;
  margin-right: 32px; }

.u-pad-xl {
  padding: 64px; }

.u-mar-xl {
  margin: 64px; }

.u-pad-top-xl {
  padding-top: 64px; }

.u-mar-top-xl {
  margin-top: 64px; }

.u-pad-right-xl {
  padding-right: 64px; }

.u-mar-right-xl {
  margin-right: 64px; }

.u-pad-bottom-xl {
  padding-bottom: 64px; }

.u-mar-bottom-xl {
  margin-bottom: 64px; }

.u-pad-left-xl {
  padding-left: 64px; }

.u-mar-left-xl {
  margin-left: 64px; }

.u-pad-vertical-xl {
  padding-top: 64px;
  padding-bottom: 64px; }

.u-mar-vertical-xl {
  margin-top: 64px;
  margin-bottom: 64px; }

.u-pad-horizontal-xl {
  padding-left: 64px;
  padding-right: 64px; }

.u-mar-horizontal-xl {
  margin-left: 64px;
  margin-right: 64px; }

.u-trim-margin {
  margin: 0 !important; }

.u-trim-padding {
  padding: 0 !important; }

.u-l-fl {
  float: left !important; }

.u-l-fr {
  float: right !important; }

.u-l-b {
  display: block !important; }

.u-l-ib {
  display: inline-block !important; }
  .u-l-ib--m {
    vertical-align: middle !important; }
  .u-l-ib--t {
    vertical-align: top !important; }
  .u-l-ib--b {
    vertical-align: bottom !important; }

.u-l-dn {
  display: none !important; }

.u-font-center {
  text-align: center !important; }

.u-font-left {
  text-align: left !important; }

.u-font-right {
  text-align: right !important; }

.u-font-small {
  font-size: 0.85em; }

.u-font-strong {
  font-weight: 600; }

.u-font-black {
  color: black; }

.u-font-meta {
  color: #7b8994; }

.u-font-error,
.u-font-danger {
  color: #e82110; }

.u-font-success {
  color: #48ac68; }

.u-font-wrap {
  white-space: normal; }

.u-font-nowrap {
  white-space: nowrap; }

.u-thide {
  overflow: hidden;
  white-space: nowrap;
  text-indent: 100%; }

.u-ellip {
  max-width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis; }

.u-unbutton {
  padding: 0;
  background: none;
  border: 0; }
  .u-unbutton:focus {
    box-shadow: 0 0 0 2px #cce6fa; }
  .u-unbutton::-moz-focus-inner {
    border: 0;
    padding: 0; }

@import url(https://fonts.googleapis.com/css?family=Roboto:400,600|Raleway:400,600,300);
@import url(https://fonts.googleapis.com/css?family=Montserrat);
.callout .image-event {
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: #F6F6F6 !important; }
  .callout .image-event:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: 100%; }
  .callout .image-event > .content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; }
  .callout .image-event.inactive {
    opacity: 0.2; }

.callout .overlay {
  background-color: rgba(255, 255, 255, 0) !important;
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  color: black !important; }

.callout:hover .overlay {
  display: block;
  background-color: rgba(255, 255, 255, 0.6) !important; }

.callout:hover .inactive {
  opacity: 1; }

@font-face {
  font-family: "ThirstyScriptExtraBold";
  src: url("assets/font/ThirstyScriptExtraBoldDemo.otf") format("otf"); }

html {
  padding-top: 50px; }
  html body {
    -webkit-text-size-adjust: 100%;
    background: white; }
    html body .thumb-img {
      height: 100px;
      width: 100px;
      margin-right: 10px; }
    html body .c-banner.margin {
      margin-top: 20px; }
    html body .c-banner.c-banner--unpinned {
      margin: 60px 0 20px; }
      html body .c-banner.c-banner--unpinned h1 {
        margin: 10px 0; }
    html body .analys .f-alpha {
      display: block;
      margin-bottom: 0px;
      font-weight: bolder; }
    html body .picat-logo {
      margin: 40px auto;
      width: 200px;
      display: block; }
    html body .policy-link {
      position: absolute;
      bottom: 10px;
      color: white;
      text-align: center;
      width: 100%; }
    html body .top-bar {
      z-index: 100;
      padding: 0;
      position: fixed;
      top: 0px;
      width: 100%;
      margin-bottom: 100px;
      background-color: white;
      border-bottom: 1px solid gainsboro; }
      html body .top-bar ul {
        background-color: white; }
        html body .top-bar ul li.is-submenu-item {
          color: #1583cc; }
          html body .top-bar ul li.is-submenu-item a {
            color: #1583cc; }
          html body .top-bar ul li.is-submenu-item:hover {
            background-color: #1583cc; }
            html body .top-bar ul li.is-submenu-item:hover a {
              color: white; }
      html body .top-bar .top-bar-title .logo {
        height: 36px;
        padding: 15px 0px 0px 10px; }
      html body .top-bar a.button {
        height: 40px;
        color: #275B88;
        padding: 14px 20px;
        background: white;
        border-bottom: 2px solid white; }
        html body .top-bar a.button .c-badge {
          background: none !important; }
        html body .top-bar a.button:hover {
          border-bottom-color: rgba(68, 70, 72, 0.37) !important;
          text-decoration: none; }
        html body .top-bar a.button:focus {
          box-shadow: 0px 0px 0px;
          box-shadow: none;
          outline: none; }
        html body .top-bar a.button.active {
          border-bottom-color: #007ee5 !important; }
          html body .top-bar a.button.active .c-badge {
            background-color: white !important; }
          html body .top-bar a.button.active:hover {
            border-bottom-color: rgba(68, 70, 72, 0.37) !important; }
      html body .top-bar .is-dropdown-submenu-parent.is-down-arrow > a::after {
        top: 1rem;
        border-color: #275B88 transparent transparent; }
    html body .callout {
      text-align: center;
      float: left;
      width: 100%;
      border: none; }
    html body .add {
      text-align: center; }
      html body .add #thumb-preview {
        display: block;
        margin: 20px auto;
        max-width: 200px; }
      html body .add .form {
        margin-top: 80px; }
      html body .add .input-block {
        margin: 80px 0;
        width: 100%; }
        html body .add .input-block .badge {
          font-size: 24px;
          background-color: #59a6e4;
          margin-bottom: 20px; }
        html body .add .input-block fieldset {
          width: 60%;
          margin: 10px auto; }
          html body .add .input-block fieldset input,
          html body .add .input-block fieldset textarea {
            box-shadow: none;
            border: 2px solid gainsboro;
            text-align: center;
            font-weight: normal; }
            html body .add .input-block fieldset input:focus,
            html body .add .input-block fieldset textarea:focus {
              border: 2px solid #e7bf5c; }
          html body .add .input-block fieldset textarea {
            height: 200px; }
          html body .add .input-block fieldset table thead tr,
          html body .add .input-block fieldset table tfoot tr,
          html body .add .input-block fieldset table {
            background: none !important;
            border: none !important; }
          html body .add .input-block fieldset .fdatepicker td span.active,
          html body .add .input-block fieldset .fdatepicker td.active.day,
          html body .add .input-block fieldset .fdatepicker td.active.year,
          html body .add .input-block fieldset .datepicker td span.active,
          html body .add .input-block fieldset .datepicker td.active.day,
          html body .add .input-block fieldset .datepicker td.active.year {
            background: #f5e20c !important; }
    html body table thead,
    html body table tbody,
    html body table tfoot {
      border: none;
      background: none !important; }
    html body .view .intro {
      padding: 40px 0;
      margin: 10px 0; }
      html body .view .intro .edit-event {
        border-radius: 100px;
        background-color: #59a6e4;
        float: right; }
      html body .view .intro .main-thumb {
        float: left;
        padding: 20px;
        background: white; }
      html body .view .intro .activity {
        margin: 40px 0 20px;
        padding: 0; }
        html body .view .intro .activity .toggleActivity {
          position: relative;
          bottom: 0px;
          margin: 5px auto 0;
          display: table; }
          html body .view .intro .activity .toggleActivity .button {
            border-radius: 100px;
            background-color: white;
            border: 1px solid #2199e8 !important;
            margin: 0 2px; }
          html body .view .intro .activity .toggleActivity .active {
            background-color: #59a6e4;
            color: white; }
        html body .view .intro .activity #activity {
          width: 100%;
          height: 100px;
          margin-bottom: 10px;
          padding: 10px 0 0 0; }
      html body .view .intro .customTip {
        background-color: red; }
      html body .view .intro h1 {
        padding-top: 30px; }
      html body .view .intro h1,
      html body .view .intro h6 {
        display: block;
        margin: 0; }
      html body .view .intro .stats {
        font-family: 'Roboto', sans-serif;
        font-size: 18px;
        float: left;
        padding-top: 28px;
        padding-left: 15px; }
        html body .view .intro .stats .title {
          font-weight: 500;
          text-transform: uppercase; }
        html body .view .intro .stats .info {
          font-weight: 400;
          margin-right: 15px; }
      html body .view .intro .badge.posts {
        float: left;
        padding: 6px 14px;
        font-size: 17px;
        margin: 0 0px 0px 6px; }
      html body .view .intro .switch {
        padding-top: 15px; }
        html body .view .intro .switch input:checked ~ .switch-paddle {
          background: #59a6e4 !important; }
    html body .view .thumb img {
      max-height: 150px; }
    html body .view .edit {
      padding: 20px !important; }
    html body .view .recent {
      width: 100%; }
      html body .view .recent .column {
        padding: 0.3rem; }
        html body .view .recent .column .thumbnail {
          margin: 0;
          border: none; }
          html body .view .recent .column .thumbnail:hover,
          html body .view .recent .column .thumbnail :focus {
            box-shadow: none; }
        html body .view .recent .column .bar {
          background-color: gainsboro;
          width: 100%;
          height: 40px;
          font-size: 13px;
          color: #333333;
          text-align: center;
          padding: 10px; }
          html body .view .recent .column .bar.selected {
            background-color: #e7bf5c; }
        html body .view .recent .column.inactive {
          opacity: 0.5; }
      html body .view .recent #load {
        width: 100%;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex; }
        html body .view .recent #load .loader {
          top: 0;
          border-top: 1em solid white;
          border-right: 1em solid white; }
    html body .view a.button.edit {
      background-color: #E8E8E8;
      color: #54595D;
      font-weight: 800;
      position: absolute;
      text-align: center;
      right: -1px;
      top: -47px;
      width: 80px;
      padding: 15px 0;
      transition: width 0.8s;
      border-left: #59a6e4 4px solid; }
      html body .view a.button.edit:hover {
        width: 140px; }
    html body .edit legend {
      text-align: center; }
    html body .edit input[type='text'],
    html body .edit textarea {
      vertical-align: middle;
      text-align: center;
      box-shadow: none;
      border: 0; }
      html body .edit input[type='text']:focus,
      html body .edit input[type='text'] :hover,
      html body .edit textarea:focus,
      html body .edit textarea :hover {
        background: #FBFBFB; }
      html body .edit input[type='text'].title,
      html body .edit textarea.title {
        font-size: 32px;
        height: 52px;
        margin: 20px 0 15px;
        font-weight: 200; }
    html body .edit table thead,
    html body .edit table tfoot {
      background: none;
      border: none; }
    html body .edit .main-img {
      float: none;
      margin: 30px auto;
      width: 200px;
      height: 200px; }
      html body .edit .main-img img {
        height: 200px; }
      html body .edit .main-img .button.alert {
        display: none;
        border-radius: 200px;
        position: absolute;
        outline: none;
        box-shadow: none;
        z-index: 1000; }
        html body .edit .main-img .button.alert:hover {
          display: block; }
      html body .edit .main-img:hover .button.alert {
        display: block;
        z-index: 1000; }
      html body .edit .main-img .no-image {
        height: 200px;
        width: 200px;
        border-radius: 100%;
        padding-top: 85px;
        margin: 0; }
    html body .edit .water-img {
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex; }
      html body .edit .water-img .column img {
        max-height: 300px; }
      html body .edit .water-img .column .button.alert {
        display: none;
        border-radius: 200px;
        position: absolute;
        outline: none;
        box-shadow: none;
        z-index: 1000; }
        html body .edit .water-img .column .button.alert:hover {
          display: block; }
      html body .edit .water-img .column:hover .button.alert {
        display: block;
        z-index: 1000; }
    html body .edit .no-image {
      top: 0;
      left: 0;
      margin: 20px 0 5px 0px;
      cursor: pointer;
      height: 160px;
      overflow: hidden;
      padding: 65px 40px;
      display: inline-block;
      vertical-align: middle;
      text-align: center;
      position: relative;
      background-color: #f6f7f8;
      border: dashed 2px #59A6E4;
      margin-bottom: 20px;
      width: 100%; }
      html body .edit .no-image h3 {
        text-align: center;
        font-weight: 200;
        padding: 32px; }
    html body .edit .button.large.edit {
      margin: 40px auto;
      display: block;
      position: relative;
      top: 20px;
      outline: none;
      box-shadow: none; }
    html body .callout {
      background: none !important;
      float: left; }
      html body .callout h2 {
        font-family: 'Roboto', sans-serif;
        margin: 40px;
        text-align: center;
        vertical-align: middle; }
      html body .callout .column {
        padding: 0; }
        html body .callout .column:hover {
          box-shadow: none; }
          html body .callout .column:hover .buttons {
            opacity: 1; }
        html body .callout .column img {
          margin: 0; }
        html body .callout .column .buttons {
          opacity: 0;
          transition: opacity 0.3s;
          position: absolute;
          top: 15px; }
          html body .callout .column .buttons button,
          html body .callout .column .buttons label {
            float: left;
            margin: 0;
            font-size: 0.575rem; }
          html body .callout .column .buttons .date {
            cursor: default; }
            html body .callout .column .buttons .date:hover {
              background-color: #777; }
          html body .callout .column .buttons .alert {
            float: right; }
    html body .watermarks .column img {
      border: none;
      background: gainsboro;
      transition: background 0.2s; }
      html body .watermarks .column img:hover {
        box-shadow: 0 0 6px 1px rgba(220, 220, 220, 0.5); }
    html body .watermarks .column a.button.delete-watermark {
      position: absolute;
      float: left; }
    html body legend {
      font-weight: 400;
      font-size: 18pt; }
  html div.browse-wrap {
    top: 0;
    left: 0;
    margin: 20px 0 5px 0px;
    cursor: pointer;
    overflow: hidden;
    padding: 20px 60px;
    display: inline-block;
    text-align: center;
    position: relative;
    border: dashed 2px #59A6E4; }
  html .clear-upload {
    border-radius: 200px;
    text-align: center;
    background-color: #59a6e4;
    margin: 0 auto;
    display: grid;
    padding: 5px 10px;
    vertical-align: middle;
    outline: none; }
    html .clear-upload span {
      font-size: 16px; }
  html div.title {
    color: #59a6e4;
    font-size: 14px;
    font-weight: bold;
    font-family: tahoma, arial, sans-serif; }
  html input.upload {
    right: 0;
    margin: 0;
    bottom: 0;
    padding: 0;
    opacity: 0;
    height: 300px;
    outline: none;
    cursor: inherit;
    position: absolute;
    font-size: 1000px !important; }
  html span.upload-path {
    text-align: center;
    margin: 20px;
    display: block;
    font-size: 80%;
    color: #3b5998;
    font-weight: bold;
    font-family: tahoma, arial, sans-serif; }
  html #map.edit-map {
    width: 100%;
    height: 600px;
    background: #e5e3df; }
  html #map.half-map {
    height: 452px;
    margin-left: 15px;
    background: #e5e3df; }
  html .edit-bar {
    width: 100%;
    max-width: 923px;
    padding: 0 5px;
    background: #F6F6F6;
    float: left;
    padding-top: 3px;
    z-index: 1; }
    html .edit-bar .edit-button {
      float: right;
      height: 35px;
      position: relative;
      top: 1px;
      left: 13px; }
      html .edit-bar .edit-button .label,
      html .edit-bar .edit-button .button {
        margin: 0 2px;
        float: right;
        vertical-align: middle;
        outline: none;
        box-shadow: none; }
      html .edit-bar .edit-button .button {
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        background-color: gainsboro; }
        html .edit-bar .edit-button .button.visible-post {
          background-image: url(../img/visible.png); }
        html .edit-bar .edit-button .button.invisible-post {
          background-image: url(../img/invisible.png); }
        html .edit-bar .edit-button .button:hover {
          background-color: dimgrey; }
      html .edit-bar .edit-button span.label.secondary {
        padding: 9px;
        margin-right: 0; }
    html .edit-bar.fixed {
      position: fixed; }
      html .edit-bar.fixed .edit-button {
        position: none;
        top: 0px;
        left: 0px; }
  html .index {
    background: url("https://images.unsplash.com/photo-1439539698758-ba2680ecadb9?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=16ae0d59f1cdf1463b47a610c4c9b8d3");
    background-size: cover;
    background-position: center;
    padding-top: 100px;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0; }
  html .index-content {
    background: #F6F6F6;
    width: 100%;
    height: 100%;
    position: relative;
    top: 1000px; }
  html .timelimit form {
    margin: 20px 0;
    float: left;
    width: 100%;
    padding: 40px 20px 15px; }
    html .timelimit form input[type='file'] {
      border: none !important;
      padding: 20px;
      outline: none;
      box-shadow: none; }
  html .sticky-edit {
    position: relative;
    width: 75px;
    text-align: center;
    float: right;
    top: 167px;
    left: 62px; }
    html .sticky-edit .label,
    html .sticky-edit .button {
      vertical-align: middle;
      width: 100%;
      outline: none;
      box-shadow: none; }
    html .sticky-edit .button-group {
      margin: 0; }
      html .sticky-edit .button-group .button {
        width: 50%;
        margin: 0;
        background-size: contain;
        background-position: center;
        background-color: gainsboro; }
        html .sticky-edit .button-group .button.visible-post {
          float: left;
          background-image: url(../img/visible.png); }
        html .sticky-edit .button-group .button.invisible-post {
          float: right;
          background-image: url(../img/invisible.png); }
        html .sticky-edit .button-group .button:hover {
          background-color: dimgrey; }
  html .quick {
    padding: 10px;
    margin: 0;
    border-radius: 3px; }
  html .loader {
    margin: 60px auto;
    font-size: 10px;
    position: relative;
    top: 130px;
    text-indent: -9999em;
    border-top: 1em solid rgba(255, 255, 255, 0.2);
    border-right: 1em solid rgba(255, 255, 255, 0.2);
    border-bottom: 1em solid rgba(255, 255, 255, 0.2);
    border-left: 1em solid #ffffff;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation: load8 1.1s infinite linear;
    animation: load8 1.1s infinite linear; }
  html .loader,
  html .loader:after {
    border-radius: 50%;
    width: 6em;
    height: 6em;
    display: inline-block; }

@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }
  html .tgl {
    display: none; }
    html .tgl, html .tgl:after, html .tgl:before,
    html .tgl *,
    html .tgl *:after,
    html .tgl *:before,
    html .tgl + .tgl-btn {
      box-sizing: border-box; }
      html .tgl::-moz-selection, html .tgl:after::-moz-selection, html .tgl:before::-moz-selection,
      html .tgl *::-moz-selection,
      html .tgl *:after::-moz-selection,
      html .tgl *:before::-moz-selection,
      html .tgl + .tgl-btn::-moz-selection {
        background: none; }
      html .tgl::selection, html .tgl:after::selection, html .tgl:before::selection,
      html .tgl *::selection,
      html .tgl *:after::selection,
      html .tgl *:before::selection,
      html .tgl + .tgl-btn::selection {
        background: none; }
    html .tgl + .tgl-btn {
      outline: 0;
      display: block;
      width: 40px;
      height: 40px;
      padding-top: 11px;
      position: relative;
      cursor: pointer;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none; }
      html .tgl + .tgl-btn:after, html .tgl + .tgl-btn:before {
        position: relative;
        display: block;
        content: "";
        width: 50%;
        height: 100%; }
      html .tgl + .tgl-btn:after {
        left: 0; }
      html .tgl + .tgl-btn:before {
        display: none; }
    html .tgl:checked + .tgl-btn:after {
      left: 50%; }
  html .tgl-skewed + .tgl-btn {
    overflow: hidden;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transition: all .2s ease;
    font-family: sans-serif;
    background: #888; }
    html .tgl-skewed + .tgl-btn:after, html .tgl-skewed + .tgl-btn:before {
      display: inline-block;
      transition: all .2s ease;
      width: 100%;
      text-align: center;
      position: absolute;
      line-height: 2em;
      font-weight: bold;
      color: #fff;
      text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4); }
    html .tgl-skewed + .tgl-btn:after {
      left: 100%;
      content: attr(data-tg-on); }
    html .tgl-skewed + .tgl-btn:before {
      left: 0;
      content: attr(data-tg-off); }
    html .tgl-skewed + .tgl-btn:active {
      background: #888; }
      html .tgl-skewed + .tgl-btn:active:before {
        left: -10%; }
  html .tgl-skewed:checked + .tgl-btn {
    background: #59a6e4; }
    html .tgl-skewed:checked + .tgl-btn:before {
      left: -100%; }
    html .tgl-skewed:checked + .tgl-btn:after {
      left: 0; }
    html .tgl-skewed:checked + .tgl-btn:active:after {
      left: 10%; }

table.hover td .button {
  margin-bottom: 0;
  float: right; }

table.hover td input[type="checkbox"] {
  margin-bottom: 0; }

table.hover td img.thumb {
  height: 100px; }

.button {
  outline: none;
  box-shadow: none !important; }

input[type='text'],
textarea,
input[type='password'],
input[type='email'] {
  border-radius: 3px !important;
  margin-right: 2px;
  background: rgba(255, 255, 255, 0.97); }

input[type=text]:disabled {
  background: #e6e6e6; }

.rounded {
  border-radius: 10000px; }

input,
textarea {
  border: 1px solid gainsboro;
  box-shadow: none;
  font-weight: normal; }
  input:focus,
  textarea:focus {
    border: 1px solid #e7bf5c !important;
    box-shadow: none !important; }

input[type='submit'] {
  border: none !important; }
  input[type='submit']:focus {
    border: none !important; }

@media only screen and (max-width: 40em) {
  img.logo {
    padding: 10px !important; }
  span.menu-icon.dark {
    margin-left: 10px; }
  .ul {
    width: 100% !important;
    display: table !important; }
  .li {
    display: table-cell !important; } }

.slider {
  width: 100%;
  margin: 20px auto 50px;
  outline: none; }

input[type="range"] {
  -webkit-appearance: none !important;
  width: 100%;
  height: 15px;
  background-color: gainsboro;
  border: none !important;
  border-radius: 10px;
  margin: auto;
  transition: all 0.3s ease;
  outline: none; }
  input[type="range"]:focus {
    border: none !important; }

input[type="range"]:hover {
  background-color: gainsboro; }

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none !important;
  width: 30px;
  height: 30px;
  background-color: #59a6e4;
  border-radius: 30px;
  transition: all 0.5s ease; }

input[type="range"]::-webkit-slider-thumb:hover {
  background-color: #59a6e4; }

#rangevalue {
  text-align: center;
  font-family: "Quantico", sans-serif;
  font-size: 18px;
  display: block;
  margin: auto;
  padding: 10px 0px;
  width: 100%;
  color: #59a6e4; }

table.c-table {
  font-size: 1rem; }
  table.c-table th {
    border: none !important; }
  table.c-table thead {
    border-bottom: 2px solid #d0d4d9 !important; }
    table.c-table thead:hover {
      background: none !important; }

.policy h2 {
  margin: 10px 0 0px !important; }

.policy ul li {
  list-style-type: decimal; }

.language_bar_chooser {
  text-align: center; }
  .language_bar_chooser a {
    color: black !important;
    font-weight: 500;
    text-transform: uppercase; }

#flag h5 {
  margin-bottom: 0px; }

/*# sourceMappingURL=app.css.map */
